*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black;
}

.quotes{
     background-color: blueviolet;
     max-width: 500px;
     width: 100%;
     padding: 40px;
     color: white;
     border-radius: 18px;
}

.author{
    font-weight: bold;
}

button{
 color: black;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.08);
  box-shadow:  2px 5px 5px rgba(0, 0, 0, 0.555);
}

button:active {
  transform: scale(0.98); /* Slightly shrinks on click */
}